﻿
<div class="toolbar">
    @ToolBar
</div>

<div itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">@Address.Name</span>
    <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">@Address.StreetAddress</span><br>
        <span itemprop="addressLocality">@Address.AddressLocality</span><br>
        <span itemprop="addressRegion">@Address.AddressRegion</span> 
        <span itemprop="postalCode">@Address.PostalCode</span>
    </address>
</div>